<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">About</h1>
</div>

<h3>Project Topic</h3>

<div class="pt-3">
    <p>
        Group: 18
        </br>Name: 
        </br>Choi Kam Ming	(13252394)
        </br>Chan Wing San	(13430013)
        </br>Application link: </br>
        </br>==========================================================================================
        </br># Login & Register
        </br>Through the login interface, authenticated users can access the system with their username and password.
                
        </br>Each user has 1 username and 1 password;
        </br>e.g. {username:"Tester", password:"Tester"}
                
        </br>If user pass the authentication, the username used will be stored in seesion.
                
        </br>==========================================================================================
        </br># Logout
        </br>In each page after login, users can logout their account by clicking logout button on the bottom-right hand corner of the page.
                
        </br>==========================================================================================
    </p>
</div>
  